{% extends "base/base.html" %}
{% block title %}TOPページ{% endblock %}
{% block content %}
            <div class="text-center">
                    <h1>健康掲示板へようこそ</h1>
                    <h2>掲示板一覧</h2></div>

                    <h2>ジャンル一覧 </h2>

           
                <table class="table">
                    <hr>
                    <colgroup>
        

                        <col style="width:20%;">
                        <col style="width:20%;">
                        <col style="width:20%;">
                        <col style="width:20%;">
                        <col style="width:20%;">
                        
                
                      
                         
                
                      </colgroup>
                    <thead>
                        <th scope="col">ジム</th>
                        <th scope="col">プロテイン</th>
                        <th scope="col">サプリ</th>
                        <th scope="col">筋トレグッズ</th>
                        <th scope="col">メニュー</th>
                    </thead>
                </table>


<h2>↓コメント数によるランキング（コメント数追加</h2>


{% endblock %}